body {
  margin: 0;
}

.navbar {
  border: none !important;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: right;
  color: #ffffff;
}

$Montserrat: Montserrat, sans-serif;

.navbar-brand {
  color: white !important;
}

.aurelia-logo {
  height: 60px;
}

.title {
  font-size: 24px;
}

.mail {
  padding-left: 20px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

//Fixes for iOS11
ux-dialog-container {
  position: fixed;
}

//Fixes for iOS11
ux-dialog-overlay {
  position: fixed;
}

ux-dialog-container>div>div {
  background: white;
  border-radius: 10px;
  padding: 50px;
  margin-top: 5% !important;
  width: 50% !important;
}

ux-dialog-overlay.active {
  background-color: black;
  opacity: .5 !important;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.padd-left {
  padding-left: 15% !important;
}

.padd-right {
  padding-right: 30px !important;
}

.collapsed {
  float: left;
}

@media (min-width: 768px) {
  .collapsed {
    display: none;
  }
}


#footer {
  height: auto;
  background-color: #f7f7f7;
  text-align: center;
  padding: 50px;

  .header {
    margin-top: 50px;
    font-family: $Montserrat;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  @media (max-width: 692px) {
    .header {
      font-size: 22px !important;
    }
  }

  .email-button {
    margin-bottom: 100px;
    font-family: $Montserrat;
    font-size: 16px;
    color: #2b2b2b;
    font-weight: bold;
  }

  .bottom {
    font-family: $Montserrat;
    font-size: 16px;
    img {
      margin-top: 20px;
      width: 80px;
    }
  }
}
.page-host {
  -webkit-overflow-scrolling: touch;
  background-color: #F8FEF8;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #2b2b2b;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

@import 'animations';
@import 'humane-toaster';
@import '../pages/home/home';
@import '../pages/api-example/api-example';
@import '../resources/elements/confirm-dialog/confirm-dialog';
@import '../resources/elements/input-slider/input-slider';
