#home {
  h4 {
    margin-bottom: 30px;
  }


  .components {


    .component-title {
      font-size: 18px;
      text-decoration: underline;
      margin-bottom: 20px;
    }

    .component-block {
      margin-bottom: 40px;
    }

    .value-block {
      margin-bottom: 30px;
    }

    .converter {
      margin-bottom: 20px;
    }

  }
}